.map {
  background-color: $very-dark-gray;
  height: 65%;
  position: absolute;
  z-index: 1;
  top: 35%;
  width: 100%;

  & .map__icon {
    position: relative;
    top: 40%;
    left: 50%;
    z-index: 100;
  }
}
